.side_by_side textarea.wiki-edit {
  resize: vertical;
  width: 49.5%;
}

.side_by_side #preview {
  float: right;
  overflow-y: scroll;
  width: 49.5%;
}

.writing_mode #footer, .writing_mode #side-container, .writing_mode #top-menu {
  display: none;
}

.writing_mode div#content {
  margin: 0;
}
